Repository kursataktas/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @neilyio

thread approach showing promise
  pg_search/src/index/writer.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

Remove debug
  tests/tests/parallel.rs
Owners: @rebasedming, @neilyio

switch to segmentwriter, need to finish commit
  pg_search/src/index/search.rs
  pg_search/src/index/writer.rs
Owners: @rebasedming, @neilyio

try tmate
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

flush iowriter
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/writer/io.rs
Owners: @rebasedming, @neilyio

switch to git tantivy
  Cargo.lock
Owners: none

add logging
  pg_search/src/index/directory/blocking.rs
Owners: @rebasedming, @neilyio

try fix
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/segment_handle.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @neilyio

try running tests again
  .github/workflows/test-pg_search.yml
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/postgres/build.rs
Owners: @philippemnoel, @rebasedming, @neilyio

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/cargo-paradedb/                                               @rebasedming @neilyio
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @neilyio
/pg_search/                                                    @rebasedming @neilyio
/tests/                                                        @rebasedming @neilyio
/tokenizers/                                                   @rebasedming @neilyio
