Repository kursataktas/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @neilyio

refactor
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/storage.rs
  pg_search/src/postgres/storage/atomic.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/metadata.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/segment_writer.rs
Owners: @rebasedming, @neilyio

clippy
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/reader.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/atomic_directory.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/storage/segment_handle.rs
  pg_search/src/postgres/storage/segment_reader.rs
  pg_search/src/postgres/storage/segment_writer.rs
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @neilyio

working but creating too many pages
  pg_search/src/index/writer.rs
  pg_search/src/postgres/storage/atomic.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/segment_writer.rs
Owners: @rebasedming, @neilyio

remove docs commit
  docs/documentation/full-text/filtering.mdx
Owners: @rebasedming, @neilyio

wip
  pg_search/src/index/search.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @neilyio

channelreader wip
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/channel/reader.rs
Owners: @rebasedming, @neilyio

wip
  Cargo.lock
Owners: none

wip
  pg_search/src/index/writer.rs
Owners: @rebasedming, @neilyio

wip
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/utils.rs
  pg_search/src/postgres/writer.rs
Owners: @rebasedming, @neilyio

create channeldirectory
  pg_search/src/index/channel/directory.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

remove debug logs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/cost.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/segment_handle.rs
  pg_search/src/postgres/vacuum.rs
  pg_search/src/postgres/validate.rs
Owners: @rebasedming, @neilyio

fix deadlock
  pg_search/src/index/writer.rs
  pg_search/src/postgres/storage/atomic_directory.rs
Owners: @rebasedming, @neilyio

need to vacuum fsm
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @neilyio

impl all channel receiver
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/storage/segment_reader.rs
Owners: @rebasedming, @neilyio

vacuum working
  pg_search/src/index/reader/index.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @neilyio

remove transaction callbacks
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/transaction.rs
Owners: @rebasedming, @neilyio

default enable scores in channel search
  pg_search/src/index/reader/index.rs
Owners: @rebasedming, @neilyio

fix channel directory deadlock
  pg_search/src/fixtures/directory.rs
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/file_handle.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @neilyio

introduce dedicated metadata block
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @neilyio

add pages for meta/managed locks
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @neilyio

make writes terminate
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/io.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

tasteful renaming
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/reader/segment_handle.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/index/writer/segment_handle.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @neilyio

preserver order in get_rd_opts
  Cargo.lock
  pg_search/Cargo.toml
  pg_search/src/postgres/options.rs
Owners: @rebasedming, @neilyio

simplify segmenthandle
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/file_handle.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/io.rs
Owners: @rebasedming, @neilyio

use awk
  .github/workflows/lint-rust.yml
Owners: @philippemnoel, @rebasedming

no more searchindexentity
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/writer.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/transaction.rs
Owners: @rebasedming, @neilyio

unwind panics
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @neilyio

cargo.lock
  Cargo.lock
  pg_search/src/index/directory/channel.rs
Owners: @rebasedming, @neilyio

vacuum full segfaults
  pg_search/src/postgres/storage/atomic_directory.rs
Owners: @rebasedming, @neilyio

new extract pgrx version
  .github/workflows/benchmark-pg_search.yml
  .github/workflows/check-pg_search-schema-upgrade.yml
  .github/workflows/publish-pg_search.yml
  .github/workflows/test-pg_search-upgrade.yml
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

create writer
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

move reader
  pg_search/src/index/channel/mod.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/file_handle.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/reader/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/projections/snippet.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/storage/mod.rs
Owners: @rebasedming, @neilyio

some more tests passing
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_handle.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/scan.rs
Owners: @rebasedming, @neilyio

wip
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @neilyio

segmenthandle linkedlist implementation
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/segment_handle.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @neilyio

debug
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

rename to releaseblockinglock
  pg_search/src/index/directory/channel.rs
Owners: @rebasedming, @neilyio

remove fftype debug
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

done reorganizing
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/fixtures/directory.rs
  pg_search/src/fixtures/mod.rs
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/mod.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/file_handle.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/io.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/mod.rs
  pg_search/src/postgres/storage/mod.rs
Owners: @rebasedming, @neilyio

use sed
  .github/workflows/lint-rust.yml
Owners: @philippemnoel, @rebasedming

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/cargo-paradedb/                                               @rebasedming @neilyio
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @neilyio
/pg_search/                                                    @rebasedming @neilyio
/tests/                                                        @rebasedming @neilyio
/tokenizers/                                                   @rebasedming @neilyio
