Repository kursataktas/paradedb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @philippemnoel, @rebasedming, @neilyio

channelwriter wip
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/channel/writer.rs
Owners: @rebasedming, @neilyio

start to impl delete
  pg_search/src/index/channel/directory.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

lots of tests passing
  pg_search/src/api/operator/searchqueryinput.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/scan.rs
  pg_search/src/postgres/vacuum.rs
  tests/tests/documentation.rs
  tests/tests/index_config.rs
Owners: @rebasedming, @neilyio

try extract pgrx version fix
  .github/workflows/lint-rust.yml
Owners: @philippemnoel, @rebasedming

delete returns pages deleted
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

clean up debug
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @neilyio

Deletes workgit add .
  pg_search/src/index/channel/directory.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

make meta/managed linked
  pg_search/src/index/directory/atomic.rs
  pg_search/src/postgres/build.rs
Owners: @rebasedming, @neilyio

clippy
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/reader/segment_handle.rs
  pg_search/src/index/writer/segment_handle.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/insert.rs
  tests/tests/bm25_search.rs
  tests/tests/parallel.rs
Owners: @rebasedming, @neilyio

delete wip
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/storage/atomic_directory.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/segment_writer.rs
Owners: @rebasedming, @neilyio

more cleanup
  pg_search/src/index/directory/blocking.rs
Owners: @rebasedming, @neilyio

fixing segfault wip
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/cost.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/vacuum.rs
  pg_search/src/postgres/validate.rs
Owners: @rebasedming, @neilyio

rm fs2
  Cargo.lock
  pg_search/Cargo.toml
Owners: @rebasedming, @neilyio

rebase
  pg_search/src/index/reader.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/segment_reader.rs
  pg_search/src/postgres/vacuum.rs
Owners: @rebasedming, @neilyio

move blocking dir
  pg_search/src/index/channel/mod.rs
  pg_search/src/index/channel/reader.rs
  pg_search/src/index/channel/writer.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/index.rs
Owners: @rebasedming, @neilyio

rebase
  Cargo.lock
Owners: none

fixed inserts not working
  Cargo.lock
  pg_search/src/index/writer.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @neilyio

Rebase
  Cargo.lock
  pg_search/src/index/fast_fields_helper.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/postgres/customscan/builders/custom_path.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/normal.rs
  pg_search/src/postgres/customscan/pdbscan/exec_methods/top_n.rs
  pg_search/src/postgres/customscan/pdbscan/scan_state.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/scan.rs
Owners: @rebasedming, @neilyio

fix locks
  pg_search/src/index/writer.rs
  pg_search/src/postgres/storage/atomic_directory.rs
Owners: @rebasedming, @neilyio

insall pgrx
  .github/workflows/lint-rust.yml
Owners: @philippemnoel, @rebasedming

wip
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/fixtures/directory.rs
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/mod.rs
  pg_search/src/index/directory/writer.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/transaction.rs
Owners: @rebasedming, @neilyio

impl channeldirectory wip
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/channel/receiver.rs
Owners: @rebasedming, @neilyio

rebase
  pg_search/src/index/search.rs
  pg_search/src/postgres/scan.rs
Owners: @rebasedming, @neilyio

tests passing
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/vacuum.rs
  tests/tests/documentation.rs
Owners: @rebasedming, @neilyio

fix insert overriding segment metas
  Cargo.lock
  pg_search/src/index/writer.rs
  pg_search/src/postgres/parallel.rs
Owners: @rebasedming, @neilyio

push test
  tests/tests/bm25_search.rs
Owners: @rebasedming, @neilyio

try fix workflow
  .github/workflows/test-pg_search.yml
Owners: @philippemnoel, @rebasedming

move writer
  pg_search/src/fixtures/index.rs
  pg_search/src/index/channel/mod.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/mod.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/io.rs
  pg_search/src/index/writer/mod.rs
  pg_search/src/postgres/delete.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/mod.rs
  pg_search/src/postgres/transaction.rs
  pg_search/src/postgres/utils.rs
Owners: @rebasedming, @neilyio

move blocking to another file
  pg_search/src/index/channel/directory.rs
  pg_search/src/index/channel/receiver.rs
  pg_search/src/index/channel/writer.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

cleanup
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/index/writer/segment_handle.rs
  pg_search/src/postgres/insert.rs
Owners: @rebasedming, @neilyio

impl acquire_lock
  pg_search/src/index/writer.rs
  pg_search/src/postgres/storage/atomic_directory.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/segment_handle.rs
  pg_search/src/postgres/storage/segment_reader.rs
  pg_search/src/postgres/storage/segment_writer.rs
Owners: @rebasedming, @neilyio

upgrade pgrx
  Cargo.lock
  pg_search/Cargo.toml
Owners: @rebasedming, @neilyio

cleanup
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/directory/blocking.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/writer.rs
  pg_search/src/index/reader/channel.rs
  pg_search/src/index/reader/file_handle.rs
  pg_search/src/index/reader/index.rs
  pg_search/src/index/search.rs
  pg_search/src/index/segment_handle.rs
  pg_search/src/index/writer/channel.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/postgres/buffer.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

no ubicloud runner
  .github/workflows/test-pg_search.yml
  pg_search/src/index/search.rs
  pg_search/src/postgres/vacuum.rs
  tests/tests/bm25_search.rs
Owners: @philippemnoel, @rebasedming, @neilyio

move to directory folder
  pg_search/src/fixtures/directory.rs
  pg_search/src/index/directory/atomic.rs
  pg_search/src/index/writer.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/storage/buffer.rs
  pg_search/src/postgres/storage/segment_handle.rs
Owners: @rebasedming, @neilyio

vacuum full panic fixed
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/insert.rs
  pg_search/src/postgres/storage/buffer.rs
Owners: @rebasedming, @neilyio

remove drop_bm25
  Cargo.lock
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/index/channel/reader.rs
  pg_search/src/index/channel/writer.rs
  pg_search/src/index/search.rs
  pg_search/src/postgres/delete.rs
Owners: @rebasedming, @neilyio

clean up lock
  pg_search/src/index/writer.rs
Owners: @rebasedming, @neilyio

use pgrx fork
  Cargo.lock
  pg_search/Cargo.toml
Owners: @rebasedming, @neilyio

removed writerdirectory
  Cargo.lock
  pg_search/src/bootstrap/create_bm25.rs
  pg_search/src/env.rs
  pg_search/src/fixtures/directory.rs
  pg_search/src/fixtures/index.rs
  pg_search/src/fixtures/mod.rs
  pg_search/src/index/directory/channel.rs
  pg_search/src/index/directory/writer.rs
  pg_search/src/index/search.rs
  pg_search/src/index/writer/index.rs
  pg_search/src/lib.rs
  pg_search/src/postgres/build.rs
  pg_search/src/postgres/index.rs
  pg_search/src/postgres/transaction.rs
Owners: @rebasedming, @neilyio

.github/CODEOWNERS:

# Order is important. The last matching pattern has the most precedence

/.cargo/                                                       @philippemnoel @rebasedming
/.github/                                                      @philippemnoel @rebasedming
/benchmarks/                                                   @philippemnoel @rebasedming
/cargo-paradedb/                                               @rebasedming @neilyio
/docker/                                                       @philippemnoel @rebasedming
/docs/                                                         @rebasedming @neilyio
/pg_search/                                                    @rebasedming @neilyio
/tests/                                                        @rebasedming @neilyio
/tokenizers/                                                   @rebasedming @neilyio
